bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Development settings containing local secrets
**/appsettings.Development.json
# WebApi local settings
Backend/Otelvexa.WebApi/appsettings.json
Backend/Otelvexa.WebApi/appsettings.Development.json

# RapidApiConsume local settings
Integrations/Mulkora.RapidApiConsume/appsettings.json
Integrations/Mulkora.RapidApiConsume/appsettings.Development.json
Backend/Mulkora.WebApi/appsettings.json

# WebUI local settings
Frontend/Mulkora.WebUI/appsettings.json
Frontend/Mulkora.WebUI/appsettings.Development.json
