bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Development settings containing local secrets
**/appsettings.Development.json
# WebApi local settings
Backend/Otelvexa.WebApi/appsettings.json
Backend/Otelvexa.WebApi/appsettings.Development.json
